
:root {
  --black-color: rgba(0, 0, 0, 0.4);
  --white-color: #f6f6f6;
  --background-color: #876445;
  --background-task-color: rgba(255, 255, 255, 0.3);
}


.timerContainer{
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6%;
  left: 3%;
  bottom: 8%;
  border: 3px solid var(--background-color) ;
  /* border-color: #03C988; */
  width: 24%;
  height: 15%;
  /* background-color: var(--background-color);
   */
   background-color: #e5e5f7;
   opacity: 1;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 0px,
   rgba(0, 0, 0, 0.3) 0px 7px 13px 3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   background: linear-gradient(135deg, #81818155 25%, transparent 25%) -27px 0/ 54px 54px, linear-gradient(225deg, #818181 25%, transparent 25%) -27px 0/ 54px 54px, linear-gradient(315deg, #81818155 25%, transparent 25%) 0px 0/ 54px 54px, linear-gradient(45deg, #818181 25%, #e5e5f7 25%) 0px 0/ 54px 54px;
}

.buttonContainer{
  /* font-size: small; */
  display: flex;
  width: 50%;
  opacity: 1;
  height: 30%;
  justify-content:center;
  align-items:center ;
  gap: 5px;
  /* background-color: yellow; */
}

.button {
  color: black  ;
  border: 1px solid var(--background-color);
  border-radius: 6px;
  opacity:1 ;
  /* border: none; */
  cursor: pointer;
  width: 50%;
  padding: 2%;
  font-size: 15px;
  background-color: white;
}

.numberTimer{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: medium;
  opacity: 1;
  border-color: black;
  background-color: #FAF8F1;
  border-radius: 9px;
  border: 1px solid var(--background-color) ;

  width: 50%;
  height: 30%;
  font-size: 27px;
}


.startBtn{
  background-color: #FFE15D;
  opacity: 0.8;

}

.stopBtn{
  background-color: #DC3535;
  opacity: 0.8;

}

.resumeBtn{
  opacity: 0.8;
  background-color: #03C988;
  
}

.resetBtn{
  background-color: #FDFF00;
  opacity: 0.8;
}

.startBtn:hover,
.stopBtn:hover,
.resetBtn:hover,
.resumeBtn:hover{
  opacity: 1;
}

/* .startBtn:hover{
  opacity: 1;
} */