:root{
  --font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --black-color: rgba(0, 0, 0, 0.4);
  --white-color: #f6f6f6;
  --background-color: #876445;
  --background-task-color: rgba(255, 255, 255, 0.3);
}
.eventContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-decoration: none; */
  /* background: red; */
  position: absolute;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient( ellipse farthest-corner at 27px 27px , #818181, #818181 50%, #e5e5f7 50%);
  background-size: 27px 27px;
  width: 25%;
  /* list-style: none; */
  height: 45%;
  left: 3%;
  border-radius: 9px;
}

.eventUnderList{
  list-style: none;
  position: absolute;
  /* right: px; */
  /* background-color: red; */
  /* border: 1px solid var(--b); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 9%;
  padding: 3px;
  width: 90%;
  height: 20%;
  /* margin: ; */
}

.eventTilte{  
  font-family: var(--font-family);  
  color: black;
  border-radius: 6px;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid black;
  position: absolute;
  top: 0%;
  width: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6%;
}
/* .eventTilte h2{
  padding: 0px;  
} */

.singleList{
  font-family: var(--font-family);
  border: 1px solid var(--background-color  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  width: 90%;
  background-color: #fff;
}

.eventInfomationContainer{
  font-family: var(--font-family);
  background-color: aqua;
  position: absolute;
  bottom: 0px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: ; */

}

.addEventContainer{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.inputEvent{
  margin: 2px;
  border-radius: 6px;
  border: 0px solid var(--background-color);
}

.eventAddBtn{
  width: 30%;
}

.newEvent{
  font-size: 15px;
  font-family: var(--font-family);
}

.eventDate{
  font: size 10px; ;
}