
:root {
  --black-color: rgba(0, 0, 0, 0.4);
  --white-color: #f6f6f6;
  --background-color: #876445;
  --background-task-color: rgba(255, 255, 255, 0.3);
}


.timerContainer{
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0px;
  bottom: 36%;
  width: 30%;
  height: 15%;
  background-color: red;
}

.buttonContainer{
  display: flex;
  width: 50%;
  height: 30%;
  justify-content:center;
  align-items:center ;
  gap: 5px;
  background-color: yellow;
}

.button {
  border-radius: 6px;
  border: none;
  cursor: pointer;
  width: 50%;
  padding: 2%;
}

.numberTimer{
  color: white;
  font-size: medium;
}
