
:root {
  --black-color: rgba(0, 0, 0, 0.4);
  --white-color: #f6f6f6;
  --background-color: #876445;
  --background-task-color: rgba(255, 255, 255, 0.3);
}


.timerContainer{
  /* display: flex; */
  position: absolute;
  /* right:; */
  left: 10%;
}